/* Provide sufficient contrast against white background */
html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, 
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  color: #15d603;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #278b2e;
  border-color: #237c29;
}

li {
  list-style-type : none;
}

img {
  width: 180px;
  aspect-ratio: auto 180 / 135;
  height: 135px;
  margin-right: 10px;
}

.Modal {
  border-radius: 19px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(15, 15, 15, 0.28);
  border-color: #278b2e;
}