/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

li {
  list-style-type : none;
}

img {
  width: 180px;
  aspect-ratio: auto 180 / 135;
  height: 135px;
  margin-right: 10px;
}

.nofitication {
    background-color: #2e8f27;
    color: white;
    border-radius: 3px;
    float: right;
    display: flex;
    padding: 10px;

    &-show {
        animation: notif 400ms ease-in-out forwards;
        display: flex;
    }

}

@keyframes notif{
    0% {
        opacity:0;
        top:0;
    }
    5% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 2rem;
    }
}
